<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista de Botones</title>
    <style>
        body {
            background-color: #FFE6E6;
            font-family: 'Times New Roman', serif;
            display: flex;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            padding-left: 50px;
            display: flex;
            align-items: center;
        }

        .button {
            display: inline-block;
            padding: 15px 30px;
            font-size: 20px;
            color: #FFFFFF;
            background-color: #FF6666;
            border: none;
            border-radius: 5px;
            margin-right: 20px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .button:hover {
            background-color: #FF9999;
        }

        .image {
            max-width: 300px;
            height: auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <div>
            <h1>Selecciona una opción</h1>
            <a href="/carac" class="button">Características Humanas</a>
            <a href="/personas" class="button">Personas Cercanas</a>
            <a href="/" class="button">Volver</a>
        </div>
        <img class="image" src="https://thumbs.dreamstime.com/b/tres-rosas-rojas-brillantes-aisladas-en-el-fondo-blanco-136808492.jpg" alt="Roses">
    </div>
</body>
</html>
